.menu-items-ctn{
    position:relative;
    z-index: 10;
    height: 93vh;
    width: fit-content;

    background-color: white;
}

.menu-items-ctn-mobile{
    position:relative;
    z-index: 10;
    height: fit-content;
    width: 100%;
}

.menu-item{
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;

    padding: 10px 20px;
    cursor: pointer;
    transition: .3s;
    text-wrap: nowrap;
}

.menu-item:hover{
    border-right: 1px solid var(--alt-color);
    color: var(--alt-color);
}

.link-l2{
    font-size: .8em;
    padding-left: 30px;
    background-color: rgb(245, 245, 245);
}

.link-l3{
    font-size: .7em;
    padding-left: 40px;
    background-color: rgb(235, 235, 235);
}

.invisible-c{
    height: 0px;
    padding: 0px;
    margin: 0px;
}

/* @media only screen and (max-width: 766px) {
    .menu-items-ctn{
        display: none;
    }
} */